#contact_modal {
    display: none;
    
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
 
 
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
   
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.photographer-media{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 100px;
    margin: auto;
    margin-left: 150px;

}

article{
    display: flex;
}


img:hover{
    cursor:pointer;
}






/* #lightbox_modal {
    display: none;
 
}

*/
/* .lightbox {
    
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
 
 
}  */



#lightbox_modal{
    display: none;
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1000;
    /* background-color: rgba(0, 0, 0, 0.5);  */
    background-color: red;
    width: 80%;
    height: 80%;
    max-width: 600px; 
    border-radius: 10px; 
}

#lightbox_modal>img{
    object-fit: contain;
    width: 80%;
    height: 80%;
    display: flex;
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    
}

#lightbox_modal>video{
    object-fit: contain;
    width: 80%;
    height: 80%;
    display: flex;
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}


/* .lightbox {
    background-color: #DB8876;
    border-radius: 5px;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
} */

.counter-like{
    width: 200px;
    height: 3rem;
    background-color: #DB8876;
    position: sticky;
    
    bottom: 0px;
    left: 1050px;
}


.left-arrow:hover,
.right-arrow
{
cursor: pointer;
}


.close-button{
    position: absolute;
    top: 10px;
    right: 10px;
    height:20px;
    width: 20px;
    /* color: green; */

}