@import url("photographer.css");


/* *{
    border: 1px red solid;
} */
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    
}
a{
    text-decoration: none;
    text-transform: none;
    display: flex;
    align-items: center;
    flex-direction: column;

}

a:visited{
    color: inherit;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;

}

/* main{
    height: 1000px;
 
} */
.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    

}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 10px;
    /* background-color: red; */
}

.photographer-location,
.div-bio p:first-child{

    color: #901C1C;
    font-size: 20px;
   
}

.photographer-price{

    color: #757575;
   
}

.photographer_section article h2,
.div-bio h2 {
    color: #D3573C;
    font-size: 36px;

}



.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 15rem;
    display: flex;
   


}

img{
    height: 200px;
    width: 200px;
}

video{
    height: 200px;
    width: 200px;
}

.heart{
height: 20px;
width: 20px;
position: relative;
bottom: -5px;
}


/* select{
    background-color: #901C1C;
    color: white;
    width: 130px;
    text-align: center;
    
} */

/* select {
    background-color: #911c1c;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 18px;
    height: 59px;
    padding: 0.2rem;
    margin-top: 2rem;
    width: 170px;
    margin-bottom: 30px;
  }

.options{
    border: solid white 1px;
    
} */

label{
    font-weight: bold;
}



/* .heart2{
    height: 20px;
    width: 20px;
    color: black;
  
    } */
    




/* Style The Dropdown Button */
.dropbtn {
    background-color: #911c1c;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 104px;
    height: 50px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    

    /* background-color: green; */
    color: white;
    z-index: 1;
    list-style: none;
 
    margin: 0;
   
    /* text-align: center; */
        /* background-color: #911c1c; */
     /* width: 90px; */
}




/* Links inside the dropdown */
.dropdown-content li {
    /* color: white;
    text-decoration: none;
    padding: 10px 0px;
    text-align: center;

    background-color: aqua; */
    background-color: #911c1c;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    /* border-bottom: solid white 1px ; */
    width: 72px;
}

/* .dropdown-content li:nth-child(-n + 2) {
    border-bottom: solid white 1px ;
    

}  */




/* Change color of dropdown links on hover */
/* .dropdown-content li:hover {
    background-color: #f1f1f1;
} */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;

}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {
    background-color: rgb(80, 11, 11);
}
 */



.menu-barre{
    position: relative;
    top: 20px;
    height: 1px;
    width: 120%;
    background-color: white;
}








